---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>kimura taro</h1>
		<h2>サイトについて</h2>
		<p>welcome to astro</p>
		<p>wel</p>
	</body>
</html>
